
@{
    Layout = null;
}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/CareerMitra/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/CareerMitra/css/style.css">
    <link rel="stylesheet" href="~/CareerMitra/css/responsive.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <title>Afluex Multiservice llp</title>
</head>
<body>
    <div class="landing_navbar">
        <div class="landing_top_header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="landing_banner">
                            <img src="~/CareerMitra/images/top_header.jpg" class="img-fluid" alt="top_header_banner">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main_landing">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="landinf-wecome">
                        <div class="block-title text-left">
                            <p>मुरादाबाद स्मार्ट सिटी में आपका स्वागत है</p>
                            <h3 class="pt-3">करियर मित्र</h3>
                        </div>
                        <p>मुरादाबाद में नौकरी तलाशने वाले कारीगरों / औद्योगिक श्रमिकों और नियोक्ताओं / विभिन्न उद्योगों के निर्माता (जैसे- पीतल, एल्यूमीनियम, स्टील आदि) के लिए पूर्ण नौकरी/ रोजगार पोर्टल।</p>
                        <a href="https://careermitra.moradabadsmartcity.org/" class="thm-btn cta-three__btn">शुरू हो जाओ</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="landinf-video video-size">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" poster="../images/video_icon.jpg" src="~/CareerMitra/images/moradabad01.mp4" type="video/mp4"></iframe>
                        </div>
                        <!--<video class="embed-responsive-item embed-responsive embed-responsive-16by9" loop="true" muted="" poster="" preload="auto" autoplay="">
                        <source src="images/moradabad01.mp4" type="video/mp4"></video>-->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="landing_timeline_inner_section">
        <div class="cta-three">
            <div class="demo">
                <div class="block-title text-center pt-4 pb-4">
                    <h3 class="pt-2">करियर मित्र की कार्य प्रणाली</h3>
                    <p class="mt-2">करियर मित्र नौकरी/ रोजगार पाने का सबसे आसान और सबसे तेज़ तरीका है।</p>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-timeline6">
                                <div class="timeline">
                                    <div class="timeline-content">
                                        <span class="year">चरण -1</span>
                                        <div class="content-inner">
                                            <span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                            <h3 class="title">प्रोफ़ाइल बनाना</h3>
                                            <p class="description">
                                                हम आपका प्रोफ़ाइल बनाने के लिए, आपका मार्गदर्शन करते हैं। कैरियर मित्र पर प्रोफ़ाइल बनाना एक नि: शुल्क प्रक्रिया है।
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-content">
                                        <span class="year">चरण -2</span>
                                        <div class="content-inner">
                                            <span class="icon"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
                                            <h3 class="title">प्रोफाइल को पूरा और अपडेट रखना</h3>
                                            <p class="description">
                                                नियोक्ता (भर्तीकर्ता) नयी भर्तियों की पूर्ती के लिए प्रोफाइल चुनते हैं । नियोक्ताओं द्वारा पूरी तरह से तैयार प्रोफाइल के चुने जाने की संभावना ज्यादा रहती है।
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-content">
                                        <span class="year">चरण -3</span>
                                        <div class="content-inner">
                                            <span class="icon"><i class="fa fa-briefcase"></i></span>
                                            <h3 class="title">नौकरी की सिफारिशें प्राप्त करें</h3>
                                            <p class="description">
                                                हम आपको, आपके प्रोफाइल विवरण और पिछले नौकरी/ रोजगार के आवेदन से मिलती हुई नौकरियां भेजते हैं।
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-content">
                                        <span class="year">चरण -4</span>
                                        <div class="content-inner">
                                            <span class="icon"><i class="fa fa-search" aria-hidden="true"></i></span>
                                            <h3 class="title">नौकरियों के लिए आवेदन</h3>
                                            <p class="description">
                                                जब  आप नौकरी/ रोजगार के लिए आवेदन करते हैं, तो हम आपके आवेदन को नियोक्ता (भर्तीकर्ता) के पास भेजते हैं और जब नियोक्ता आपके आवेदन पर कोइ कार्रवाई करेगा तब हम आपको सूचित करेंगे।
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-content">
                                        <span class="year">चरण -5</span>
                                        <div class="content-inner">
                                            <span class="icon"><i class="fa fa-television" aria-hidden="true"></i></span>
                                            <h3 class="title">नौकरी/ रोजगार के लिए चिन्हित</h3>
                                            <p class="description">
                                                आपकी प्रोफ़ाइल भर्तीकर्ताओं द्वारा देखी जाती हैं। प्रासंगिक प्रोफाइल को भर्तीकर्ताओं (चयनकर्ताओं) द्वारा चिन्हित और संपर्क किया जाता है।
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-content">
                                        <span class="year">चरण -6</span>
                                        <div class="content-inner">
                                            <span class="icon"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                                            <h3 class="title">नौकरी/ रोजगार के लिए चयनित</h3>
                                            <p class="description">
                                                एक पूर्ण प्रोफ़ाइल होने से।
                                            </p>
                                            <p class="description">
                                                प्रासंगिक नौकरियों के लिए आवेदन करके।
                                            </p>
                                            <p class="description">
                                                अपने प्रोफाइल को अपडेट करके।
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="landing_modules_section">
        <div class="block-title text-center">
            <h3 class="pt-2">करियर मित्र की विशेषताएं</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="modules_box mt-4">
                        <div class="modules_icon1 text-center">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                        <div class="modules_content">
                            <div class="modules_title text-center mt-3 pb-3">
                                <h4>नौकरी ढूंढना</h4>
                            </div>
                            <p>उपयोगकर्ता प्रासंगिक नौकरियों को प्रदान किए गए फ़िल्टर (विभाग, श्रेणी, स्थान, कौशल आदि ) का उपयोग करके सरलता से खोज सकते हैं।</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="modules_box mt-4">
                        <div class="modules_icon2 text-center">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        </div>
                        <div class="modules_content">
                            <div class="modules_title text-center mt-3 pb-3">
                                <h4>प्रशिक्षण</h4>
                            </div>
                            <p>रोजगार इच्छुक इस पोर्टल पर उपलब्ध प्रशिक्षण सामग्री द्वारा अपने कौशल को बढ़ा सकते हैं।</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="modules_box mt-4">
                        <div class="modules_icon3 text-center">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        </div>
                        <div class="modules_content">
                            <div class="modules_title text-center mt-3 pb-3">
                                <h4>नामांकन योजना</h4>
                            </div>
                            <p>रोजगार इच्छुक प्रमाणित होने के लिए कैरियर मित्र पोर्टल पर नामांकन कार्यक्रम भाग ले सकते हैं।</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="modules_box mt-4">
                        <div class="modules_icon4 text-center">
                            <i class="fa fa-bell" aria-hidden="true"></i>
                        </div>
                        <div class="modules_content">
                            <div class="modules_title text-center mt-3 pb-3">
                                <h4>अधिसूचना और सन्देश</h4>
                            </div>
                            <p>उपयोगकर्ता  को  विभिन्न  तरीकों  (अधिसूचना, ईमेल, एसएमएस) का उपयोग करके सूचित किया जाएगा</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="modules_box mt-4">
                        <div class="modules_icon5 text-center">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                        <div class="modules_content">
                            <div class="modules_title text-center mt-3 pb-3">
                                <h4>पंजीकरण</h4>
                            </div>
                            <p>उपयोगकर्ता  पोर्टल  और  ऐप  के  माध्यम  से  खुद  को  पंजीकृत  कर  सकता  है  या  खाता  निर्माण  के  लिए  आईवीआरएस  पर  कॉल  कर  सकता  है।</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="modules_box mt-4">
                        <div class="modules_icon6 text-center">
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                        </div>
                        <div class="modules_content">
                            <div class="modules_title text-center mt-3 pb-3">
                                <h4>सहायता और सहयोग</h4>
                            </div>
                            <p>उपयोगकर्ता को आईवीआरएस, प्रशिक्षण वीडियो और विज्ञापन आदि के माध्यम से सहयोग मिलेगा।</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="landing_helpsupport_section">
        <div class="block-title text-center pb-4">
            <h3 class="pt-2">ऐप डाउनलोड करें</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="helpbanner">
                        <img src="~/CareerMitra/images/download-app-blue.png" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="playstore5">
                        <a href="#"><img src="~/CareerMitra/images/playstore-icon.png" class="img-fluid mt-4" /></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="landing_faq_section">
        <div class="block-title text-center pb-4">
            <h3 class="pt-2">अक्सर पूछे जाने वाले प्रश्न</h3>
        </div>
        <div class="container">
            <div class="row mb-4">
                <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
                    <div class="faqtab" id="div">
                        <a href="#createprofile" class="text-decoration-none">
                            <img src="~/CareerMitra/images/createpro - Copy.png" class="img-fluid" />
                            <h3 class="text-decoration-none faq_color1 pt-2">प्रोफ़ाइल बनाने</h3>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
                    <div class="faqtab" id="div2">
                        <a href="#createprofile" class="text-decoration-none">
                            <img src="~/CareerMitra/images/searchjob.png" class="img-fluid" />
                            <h3 class="text-decoration-none faq_color1 pt-2">नौकरी खोजें</h3>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
                    <div class="faqtab" id="div3">
                        <a href="#createprofile" class="text-decoration-none">
                            <img src="~/CareerMitra/images/applyjob.png" class="img-fluid" />
                            <h3 class="text-decoration-none faq_color1 pt-2">नौकरी लागू करें</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
                    <div id="diva" style="display:none;">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <div class="frequently ">
                                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                        <a class="landingfaq nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">मुझे कैरियर मित्र के साथ पंजीकरण क्यों करना चाहिए?</a>
                                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"> कैरियर मित्र कैसे काम करता है?</a>
                                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">मैं कैरियर मित्र पर कैसे पंजीकरण कर सकता हूं?</a>
                                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">मैं अपनी प्रोफ़ाइल को कैसे अपडेट / संपादित कर सकता हूं? </a>
                                        <a class="nav-link" id="v-pills-settings1-tab" data-toggle="pill" href="#v-pills-settings1" role="tab" aria-controls="v-pills-settings" aria-selected="false">"आपका प्रोफ़ाइल x% पूर्ण है" का क्या अर्थ है? / मेरी प्रोफ़ाइल 100% पूर्ण क्यों होनी चाहिए? </a>
                                        <a class="nav-link" id="v-pills-settings2-tab" data-toggle="pill" href="#v-pills-settings2" role="tab" aria-controls="v-pills-settings" aria-selected="false">क्या कैरियर मित्रा प्रोफ़ाइल बनाने में लागत आती है? </a>
                                        <a class="nav-link" id="v-pills-settings3-tab" data-toggle="pill" href="#v-pills-settings3" role="tab" aria-controls="v-pills-settings" aria-selected="false">मुझे अपने खाते का पासवर्ड याद नहीं है। मैं फिर से कैसे लॉगिन कर सकता हूं? </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                        <div class="frequently_mange">
                                            <h3>मुझे कैरियर मित्र के साथ पंजीकरण क्यों करना चाहिए?</h3>
                                            <p>कैरियर मित्र आपको अपनी आकांक्षाओं से मेल खाते हुए सही नौकरी खोजने में मदद करता है। कैरियर मित्रा के साथ पंजीकरण करने से आप सक्षम होते हैं:</p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> 5 लाख से अधिक नौकरियों के लिए एक-क्लिक में पहुंचें और लागू करें</li>
                                                <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> अपने सीवी को 2.5 लाख से अधिक नियोक्ताओं द्वारा देखें, जो आपको बिना विज्ञापित नौकरियों के साथ संपर्क करेंगे</li>
                                                <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> अपने इनबॉक्स में वितरित सर्वश्रेष्ठ नौकरियां प्राप्त करें</li>
                                                <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> मोबाइल से नौकरी के लिए आवेदन करें</li>
                                                <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> आपके अनुप्रयोगों के साथ क्या होता है, इस पर नज़र रखें</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                        <div class="frequently_mange">
                                            <h3>कैरियर मित्र कैसे काम करता है?</h3>
                                            <p>कैरियर मित्रा एक ऐसा मंच है जहां भर्ती करने वाले और नौकरी करने वाले एक दूसरे की खोज कर सकते हैं। रिक्रूटर्स को नौकारी से फायदा होता है क्योंकि वे लाखों जॉब करने वालों को अपनी नौकरी का विज्ञापन दे सकते हैं। नौकरीपेशा लोग कैरियर मित्रा पर 5 लाख से अधिक नौकरियों की खोज कर सकते हैं और उन पर आवेदन कर सकते हैं।</p>
                                            <p>करियर मित्रा पर नौकरी पाने के दो तरीके हैं।</p>
                                            <p><strong>नौकरियों के लिए आवेदन करें –</strong> एक बार जब आप कैरियर मित्र पर नौकरी लिस्टिंग के लिए आवेदन करते हैं, तो हम स्वचालित रूप से आपके आवेदन को भर्तीकर्ता को भेज देते हैं। भर्तीकर्ता आपके फिर से शुरू और प्रोफ़ाइल विवरण को देखेगा जो आपने अपने कैरियर मित्र प्रोफ़ाइल में भरा है। यदि वे इसे उपयुक्त पाते हैं, तो वे आपसे साक्षात्कार के लिए संपर्क करेंगे</p>
                                            <p><strong>भर्तीकर्ताओं द्वारा खोजा गया –</strong> यदि आपने कैरियर मित्र पर एक प्रोफ़ाइल बनाई है, तो आपका प्रोफ़ाइल कैरियर मित्र नौकरीपेशा डेटाबेस का एक हिस्सा होगा। कैरियर मित्रा पर सभी नौकरियां पोस्ट नहीं की जाती हैं। कई बार, कैरियर मित्रा पर भर्ती करने वाले हमारे डेटाबेस के माध्यम से खोजते हैं कि वे किसी ऐसे व्यक्ति को खोज सकें जो किसी भूमिका के लिए मापदंड से मेल खाता हो। यदि उन्हें आपकी प्रोफ़ाइल उपयुक्त लगती है, तो वे आपसे साक्षात्कार के लिए सीधे संपर्क कर सकते हैं।</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                        <div class="frequently_mange">
                                            <h3>मैं कैरियर मित्र पर कैसे पंजीकरण कर सकता हूं?</h3>
                                            <p>नवसिखुआ या अनुभवी विकल्प के बीच चुनें। यदि आप छात्र हैं या सिर्फ स्नातक हैं या यदि आपने पहले कभी काम नहीं किया है, तो नए सिरे से चयन करें। यदि आपने काम किया है या यदि आप वर्तमान में काम कर रहे हैं तो अनुभवी का चयन करें।</p>
                                            <p>आपका विवरण जैसे ईमेल और फ़ोन नंबर खाता बनाने के लिए आवश्यक हैं, क्योंकि हम उन्हें आपके साथ संवाद करने के लिए उपयोग करते हैं। नौकरियों के साथ आप तक पहुंचने के लिए भर्तीकर्ताओं को इन विवरणों की भी आवश्यकता होती है। वैकल्पिक रूप से, आप इस चरण को आसान बनाने के लिए अपने गूगल या फेसबुक खाते का उपयोग करके अपनी प्रोफ़ाइल बना सकते हैं।</p>
                                            <p>आप अपनी प्रोफ़ाइल में रोजगार विवरण, शिक्षा विवरण, अपने प्रमुख कौशल, फिर से शुरू, आदि जैसे विवरण भर सकते हैं।</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                                        <div class="frequently_mange">
                                            <h3>मैं अपनी प्रोफ़ाइल को कैसे अपडेट / संपादित कर सकता हूं?</h3>
                                            <h5>कैरियर मित्र पर अपनी प्रोफ़ाइल अपडेट करने के लिए:</h5>
                                            <p>अपने कैरियर मित्र खाते में लॉगिन करें</p>
                                            <p>पृष्ठ के दाहिने ऊपरी कोने में <strong>मेरी प्रोफाइल</strong> माउस को घुमाएँ।</p>
                                            <p> <strong>एडिट प्रोफाइल</strong> पर क्लिक करें</p>
                                            <p>यह आपको एक पृष्ठ पर ले जाएगा जहां आप प्रोफ़ाइल विवरण अपडेट कर सकते हैं</p>
                                            <p>हम आपको नियमित रूप से अपनी प्रोफ़ाइल अपडेट करने की सलाह देते हैं। भर्तीकर्ता अक्सर केवल उन उम्मीदवारों से संपर्क करते हैं जिन्होंने हाल ही में अपनी प्रोफाइल अपडेट की है</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-settings1" role="tabpanel" aria-labelledby="v-pills-settings1-tab">
                                        <div class="frequently_mange">
                                            <h3>"आपका प्रोफ़ाइल x% पूर्ण है" का क्या अर्थ है? / मेरी प्रोफ़ाइल 100% पूर्ण क्यों होनी चाहिए?</h3>
                                            <p>कैरियर मित्रा पर एक पूर्ण प्रोफ़ाइल होना महत्वपूर्ण है क्योंकि यह भर्ती करने वालों की आपकी संभावना को बढ़ाता है और आपकी प्रोफ़ाइल और आपसे संपर्क करता है। उदाहरण के लिए, भर्तियों में फोटो के साथ प्रोफाइल के बिना फोटो के साथ प्रोफाइल से संपर्क करने की संभावना 40% अधिक है। आपके कैरियर मित्र प्रोफ़ाइल के प्रत्येक क्षेत्र को एक निश्चित% भार दिया गया है और इन क्षेत्रों को पूरा करने से आपके समग्र प्रोफ़ाइल पूर्णता प्रतिशत में वृद्धि होगी। यदि आपका प्रोफ़ाइल पूरा होने का स्कोर 100% से कम है, तो इसका मतलब है कि आपकी प्रोफ़ाइल में कुछ महत्वपूर्ण फ़ील्ड अपूर्ण हैं और आपको उन्हें भरना होगा।</p>
                                            <p>हम आपको 100% के करीब एक प्रोफाइल पूरा होने का स्कोर देने की सलाह देते हैं, ताकि यह आपको नौकरी खोजने और कैरियर मित्र में सर्वोत्तम परिणाम प्राप्त करने का सबसे अच्छा मौका दे। इसके अलावा, अपने कैरियर मित्र प्रोफ़ाइल को अपडेट करते रहें ताकि भर्ती करने वाले आपकी नवीनतम उपलब्धियों को देख सकें। यह सुनिश्चित करेगा कि आप हमेशा कैरियर मित्र पर अपनी बढ़त बनाए रखें और अवसरों को न चूकें।</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-settings2" role="tabpanel" aria-labelledby="v-pills-settings2-tab">
                                        <div class="frequently_mange">
                                            <h3>क्या कैरियर मित्रा प्रोफ़ाइल बनाने में लागत आती है?</h3>
                                            <p>नहीं, कैरियर मित्र पर एक प्रोफ़ाइल बनाना बिल्कुल मुफ्त है। कैरियर मित्र में नौकरियों के लिए आवेदन करना भी नि: शुल्क है</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-settings3" role="tabpanel" aria-labelledby="v-pills-settings3-tab">
                                        <div class="frequently_mange">
                                            <h3>मुझे अपने खाते का पासवर्ड याद नहीं है। मैं फिर से कैसे लॉगिन कर सकता हूं?</h3>
                                            <p>यदि आप अपने खाते का पासवर्ड भूल गए हैं, तो आपको इसे रीसेट करने की आवश्यकता है। आपके पंजीकृत ईमेल पते पर एक ओटीपी भेजा जाएगा, जिसका उपयोग एक नया पासवर्ड सेट करने के लिए किया जा सकता है</p>
                                            <p>अपना पासवर्ड रीसेट करने के लिए:</p>
                                            <p>पासवर्ड भूल गए पर क्लिक करें? लॉगिन पेज पर लिंक।</p>
                                            <p>अपना उपयोगकर्ता नाम या ई-मेल पता दर्ज करें जिसके साथ आपने अपना प्रोफ़ाइल बनाया था। जाओ पर क्लिक करें।</p>
                                            <p>हम आपके पंजीकृत ईमेल पते पर एक वन-टाइम पासवर्ड (ओटीपी) के साथ एक ईमेल भेजते हैं। यदि आपको ओटीपी के साथ ईमेल नहीं मिला है, तो अपने इनबॉक्स के स्पैम और जंक फ़ोल्डर की जांच करें। हम इस ओटीपी को आपके पंजीकृत फोन नंबर पर एक एसएमएस के माध्यम से भी भेजते हैं।</p>
                                            <p>इस ओटीपी को ओटीपी फ़ील्ड में दर्ज करें और सबमिट पर क्लिक करें।</p>
                                            <p>यह आपको एक ऐसे पृष्ठ पर ले जाता है, जहां आप अपने खाते में प्रवेश करने के लिए नया पासवर्ड दर्ज कर सकते हैं।</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="divb" style="display:none;">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <div class="frequently ">
                                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                        <a class="landingfaq nav-link active" id="v-pills-home-ta-b" data-toggle="pill" href="#v-pills-home-b" role="tab" aria-controls="v-pills-home" aria-selected="true">मैं कैरियर मित्र पर नौकरियों की खोज कैसे करूं?</a>
                                        <a class="nav-link" id="v-pills-profile-tab-b" data-toggle="pill" href="#v-pills-profile-b" role="tab" aria-controls="v-pills-profile" aria-selected="false"> उन्नत खोज क्या है?</a>
                                        <a class="nav-link" id="v-pills-messages-tab-b" data-toggle="pill" href="#v-pills-messages-b" role="tab" aria-controls="v-pills-messages" aria-selected="false">कैरियर मित्र पर सरकारी नौकरियों की खोज?</a>
                                        <a class="nav-link" id="v-pills-settings-tab-b" data-toggle="pill" href="#v-pills-settings-b1" role="tab" aria-controls="v-pills-settings" aria-selected="false">अलर्ट के रूप में खोज को कैसे बचाया जाए? </a>
                                        <a class="nav-link" id="v-pills-settings1-tab-b" data-toggle="pill" href="#v-pills-settings-b2" role="tab" aria-controls="v-pills-settings" aria-selected="false">कैरियर मित्रा पर ब्राउज़िंग नौकरियों </a>
                                        <a class="nav-link" id="v-pills-settings2-tab-b" data-toggle="pill" href="#v-pills-settings-b3" role="tab" aria-controls="v-pills-settings" aria-selected="false">कैरियर मित्र में प्रीमियम नौकरियां क्या हैं? </a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <div class="tab-content" id="v-pills-tabContent-b">
                                    <div class="tab-pane fade show active" id="v-pills-home-b" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                        <div class="frequently_mange">
                                            <h3>मैं कैरियर मित्र पर नौकरियों की खोज कैसे करूं?</h3>
                                            <p>आप उन नौकरियों की तलाश कर सकते हैं, जिन्हें प्रमुख कौशल, नौकरी के शीर्षक / पदनाम या कंपनी के नाम के आधार पर कैरियर मित्रा पर कंपनियों और नियोक्ताओं द्वारा पोस्ट किया गया है। आप खोज से पहले स्थान, न्यूनतम कार्य अनुभव और अपेक्षित न्यूनतम वेतन भी निर्दिष्ट कर सकते हैं। यदि आपको सैकड़ों नौकरियां मिलती हैं, तो आप फ़िल्टर का उपयोग करके अपनी खोज को कम कर सकते हैं। यदि आप तुरंत नौकरी के लिए आवेदन नहीं करना चाहते हैं, तो आप नौकरी बचा सकते हैं और बाद में आवेदन कर सकते हैं। यदि हम आपके खोज परिणाम के लिए "कोई परिणाम नहीं मिला" दिखाते हैं, तो हम आपको आपकी क्वेरी में वर्तनी की गलतियों की जाँच करते हुए आपके फ़िल्टर और मानदंड को कम करके खोज को व्यापक बनाने की सलाह देते हैं।</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-profile-b" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                        <div class="frequently_mange">
                                            <h3>उन्नत खोज क्या है?</h3>
                                            <p>उन्नत खोज आपको अपने पसंदीदा उद्योग और कार्यात्मक क्षेत्र जैसे अधिक मापदंड निर्दिष्ट करने की अनुमति देती है। आप यह भी निर्दिष्ट कर सकते हैं कि क्या आप कंपनी द्वारा सीधे पोस्ट की गई नौकरी देखना चाहते हैं या किसी कंपनी की ओर से कंसल्टेंसी द्वारा पोस्ट की गई नौकरियां भी देखना चाहते हैं।</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-messages-b" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                        <div class="frequently_mange">
                                            <h3>कैरियर मित्र पर सरकारी नौकरियों की खोज?</h3>
                                            <p>कैरियर मित्र पर सरकारी नौकरियों की खोज करने के लिए:</p>
                                            <p>यूआरएल पर जाएं “https://careermitra.moradabadsmartcity.org/”. पर क्लिक करें <strong>सरकार। नौकरियां</strong> सबसे ऊपर टैब करें।</p>
                                            <p>खोज पट्टी में एक कीस्किल, पदनाम या कंपनी का नाम लिखें। स्थान लिखें।</p>
                                            <p>क्लिक <strong>खोज</strong></p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-settings-b1" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                                        <div class="frequently_mange">
                                            <h3>अलर्ट के रूप में खोज को कैसे बचाया जाए?</h3>
                                            <p>जब आप खोज क्वेरी का उपयोग करके कैरियर मित्र पर नौकरियों की खोज करते हैं, तो आप खोज को चेतावनी के रूप में सेट करना चुन सकते हैं। यह सुनिश्चित करेगा कि जब रिक्रूटर्स कैरियर मित्र पर आपके मानदंड को पूरा करते हुए नई नौकरियां पोस्ट करेंगे, तो हम आपको अपडेट रखने के लिए एक ईमेल भेजेंगे और आपके मोबाइल ऐप पर पुश नोटिफिकेशन करेंगे और आपकी नौकरी को आसान बनाएंगे। यह विशेष रूप से तब उपयोगी होता है जब आपने अपनी खोज क्वेरी को परिष्कृत करने के लिए कई फ़िल्टर का चयन किया हो। आप स्क्रैच से दोबारा सर्च करने के बजाय आसानी से मैचिंग जॉब खोजने के लिए अलर्ट का उपयोग कर सकते हैं।</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-settings-b2" role="tabpanel" aria-labelledby="v-pills-settings1-tab">
                                        <div class="frequently_mange">
                                            <h3> कैरियर मित्रा पर ब्राउज़िंग नौकरियों</h3>
                                            <p>यदि आप नहीं जानते कि आप किस प्रकार की नौकरी खोज रहे हैं, तो आप कैरियर मित्र पर पोस्ट की गई सभी नौकरियों को ब्राउज़ कर सकते हैं।</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-settings-b3" role="tabpanel" aria-labelledby="v-pills-settings2-tab">
                                        <div class="frequently_mange">
                                            <h3>कैरियर मित्र में प्रीमियम नौकरियां क्या हैं?</h3>
                                            <p>प्रीमियम नौकरियां वे नौकरियां हैं जिनके लिए भर्तीकर्ता ने देश के शीर्ष स्तरीय संस्थानों के उम्मीदवारों को नियुक्त करने के लिए प्राथमिकता दी है। आप नौकरी शीर्षक के बगल में प्रीमियम आइकन का उपयोग करके प्रीमियम नौकरियों की पहचान कर सकते हैं। ध्यान दें कि प्रीमियम संस्थान केवल आईआईटी और आईआईएम तक ही सीमित नहीं हैं।</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="divc" style="display:none;">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <div class="frequently ">
                                    <div class="nav flex-column nav-pills" id="v-pills-tab-c" role="tablist" aria-orientation="vertical">
                                        <a class="landingfaq nav-link active" id="v-pills-home-tab-c" data-toggle="pill" href="#v-pills-home-c" role="tab" aria-controls="v-pills-home" aria-selected="true">मैं कैरियर मित्र पर नौकरी के लिए आवेदन कैसे कर सकता हूं?</a>
                                        <a class="nav-link" id="v-pills-profile-tab-c" data-toggle="pill" href="#v-pills-profile-c" role="tab" aria-controls="v-pills-profile" aria-selected="false"> यदि मैं कैरियर मित्र पर पंजीकृत नहीं हूं, तो क्या मैं अभी भी नौकरी पर आवेदन कर सकता हूं? </a>
                                        <a class="nav-link" id="v-pills-messages-tab-c" data-toggle="pill" href="#v-pills-messages-c" role="tab" aria-controls="v-pills-messages" aria-selected="false">       नौकरी में आवेदन करने के बाद मैं कब प्रतिक्रिया की उम्मीद कर सकता हूं?</a>
                                        <a class="nav-link" id="v-pills-settings-tab-c" data-toggle="pill" href="#v-pills-settings-c" role="tab" aria-controls="v-pills-settings" aria-selected="false">क्या मैं एक बार में एक से अधिक नौकरी के लिए आवेदन कर सकता हूं? </a>
                                        <a class="nav-link" id="v-pills-settings1-tab-c" data-toggle="pill" href="#v-pills-settings1-c" role="tab" aria-controls="v-pills-settings" aria-selected="false">मैं अपनी नौकरी के आवेदन को कैसे ट्रैक करूं? </a>
                                        <a class="nav-link" id="v-pills-settings2-tab-c" data-toggle="pill" href="#v-pills-settings2-c" role="tab" aria-controls="v-pills-settings" aria-selected="false">जब मुझे यह कहते हुए संदेश मिलता है कि "आपके आवेदन की स्थिति बदल गई है" तो इसका क्या मतलब है? </a>
                                        <a class="nav-link" id="v-pills-settings3-tab-c" data-toggle="pill" href="#v-pills-settings3-c" role="tab" aria-controls="v-pills-settings" aria-selected="false">क्या मुझे नौकरी पर आवेदन करने या साक्षात्कार कॉल प्राप्त करने के लिए भुगतान करने की आवश्यकता है? / रिक्रूटर मुझे नौकरी के लिए साक्षात्कार का समय देने के लिए कह रहे हैं </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-home-c" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                        <div class="frequently_mange">
                                            <h3>मैं कैरियर मित्र पर नौकरी के लिए आवेदन कैसे कर सकता हूं?</h3>
                                            <p>आप उन नौकरियों की तलाश कर सकते हैं, जिन्हें प्रमुख कौशल, नौकरी के शीर्षक / पदनाम या कंपनी के नाम के आधार पर कैरियर मित्रा पर कंपनियों और नियोक्ताओं द्वारा पोस्ट किया गया है। आप खोज से पहले स्थान, न्यूनतम कार्य अनुभव और अपेक्षित न्यूनतम वेतन भी निर्दिष्ट कर सकते हैं। यदि आपको सैकड़ों नौकरियां मिलती हैं, तो आप फ़िल्टर का उपयोग करके अपनी खोज को कम कर सकते हैं। यदि आप तुरंत नौकरी के लिए आवेदन नहीं करना चाहते हैं, तो आप नौकरी बचा सकते हैं और बाद में आवेदन कर सकते हैं। यदि हम आपके खोज परिणाम के लिए "कोई परिणाम नहीं मिला" दिखाते हैं, तो हम आपको आपकी क्वेरी में वर्तनी की गलतियों की जाँच करते हुए आपके फ़िल्टर और मानदंड को कम करके खोज को व्यापक बनाने की सलाह देते हैं।</p>
                                            <p>नौकरी पर नौकरियों के लिए आवेदन करना सरल है। नौकरियों के लिए आवेदन करने के लिए</p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> कैरियर मित्र प्रोफ़ाइल बनाने के लिए कैरियर मित्र पर पंजीकरण करें।</li>
                                                <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> अपने कैरियर मित्र प्रोफ़ाइल में विवरण भरें। जब आप नौकरी के लिए आवेदन करेंगे तो ये विवरण भर्तीकर्ता को दिखाए जाएंगे। इन विवरणों के आधार पर, भर्तीकर्ता आपको साक्षात्कार के लिए शॉर्टलिस्ट कर सकता है।</li>
                                                <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> जॉब के लिए खोजें। एक नौकरी पोस्टिंग पर क्लिक करें जिस पर आप आवेदन करना चाहते हैं।</li>
                                                <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> अपने कैरियर मित्र प्रोफ़ाइल के साथ नौकरी पर लागू करने के लिए लागू करें बटन पर क्लिक करें।</li>
                                                <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> यदि भर्तीकर्ता को आपके आवेदन को स्वीकार करने से पहले कुछ अतिरिक्त जानकारी की आवश्यकता है, तो एक प्रश्नावली प्रदर्शित की जाएगी। अपने आवेदन के सफल होने के लिए इस प्रश्नावली को भरें।</li>
                                                <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> यदि आप कंपनी की वेबसाइट बटन पर लागू होते हैं, तो आप अपने कैरियर मित्र प्रोफ़ाइल के साथ इस नौकरी के लिए आवेदन नहीं कर सकते। आपको कंपनी के करियर पृष्ठ पर ले जाया जाएगा जहाँ आपसे ऑनलाइन आवेदन भरने के लिए कहा जा सकता है</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-profile-c" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                        <div class="frequently_mange">
                                            <h3>यदि मैं कैरियर मित्र पर पंजीकृत नहीं हूं, तो क्या मैं अभी भी नौकरी पर आवेदन कर सकता हूं?</h3>
                                            <p>हां, आप कैरियर मित्रा के साथ पंजीकरण के बिना नौकरियों में आवेदन कर सकते हैं। हालांकि, यह अनुशंसा की जाती है कि आप आवेदन करने से पहले पंजीकरण करें क्योंकि इससे आप हर बार एक लंबी आवेदन पत्र भरने से बच सकते हैं। आप एक क्लिक पर नौकरियों के लिए आवेदन कर सकते हैं।</p>
                                            <p>पंजीकरण करना भी आपको अनुमति देता है</p>
                                            <p>आप किसी भी समय नौकरी की स्थिति की जाँच करें</p>
                                            <p>समान नौकरियों के लिए सुझाव प्राप्त करें</p>
                                            <p>व्यक्तिगत नौकरी अलर्ट बनाएं</p>
                                            <p>भर्ती करने वालों से नई नौकरियों के बारे में जानें</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-messages-c" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                        <div class="frequently_mange">
                                            <h3>नौकरी में आवेदन करने के बाद मैं कब प्रतिक्रिया की उम्मीद कर सकता हूं?</h3>
                                            <p>कैरियर मित्रा स्वचालित रूप से आपके द्वारा जॉब पोस्ट करने वाले नियोक्ताओं को आपके द्वारा किए गए सभी एप्लिकेशन भेजता है। इसके बाद, यह नियोक्ता पर निर्भर है कि वह आपकी नौकरी के आवेदन का जवाब दे। कैरियर मित्रा सिर्फ एक मंच है जो आपको अपने आवेदन प्राप्त करने के लिए नौकरी और नियोक्ता की खोज करने देता है।</p>
                                            <p>हालाँकि, आप "एप्लिकेशन स्थिति" पृष्ठ पर अपने आवेदन की स्थिति को ट्रैक कर सकते हैं। मोबाइल पर, आप इसे "एप्लाइड जॉब्स" स्क्रीन में देख सकते हैं।</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-settings-c" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                                        <div class="frequently_mange">
                                            <h3>क्या मैं एक बार में एक से अधिक नौकरी के लिए आवेदन कर सकता हूं?</h3>
                                            <p>
                                                हां, आपके पास अनुशंसित नौकरियां, सहेजे गए नौकरी या कस्टम जॉब अलर्ट पेज में नौकरियों के लिए एक समय में एक से अधिक नौकरियों के लिए आवेदन करने का विकल्प है। कई नौकरी पोस्टिंग का चयन करने के लिए नौकरी पोस्टिंग के बाईं ओर स्थित चेकबॉक्स पर क्लिक करें और लागू करें पर क्लिक करें। यह आपके आवेदन को एक साथ कई भर्तियों में भेज देगा। आप एक बार में अधिकतम पाँच नौकरी के लिए आवेदन भेज सकते हैं। इसके अलावा, आपके पास पचास नौकरी तक के लिए आवेदन करने का दैनिक कोटा है
                                            </p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-settings1-c" role="tabpanel" aria-labelledby="v-pills-settings1-tab">
                                        <div class="frequently_mange">
                                            <h3>मैं अपनी नौकरी के आवेदन को कैसे ट्रैक करूं?</h3>
                                            <p>आपके द्वारा नौकरी पर आवेदन करने के बाद, आपको स्क्रीन पर एक सफलता संदेश दिखाई देगा। हम आपके पंजीकृत ईमेल पते पर एक पुष्टिकरण ईमेल भी भेजेंगे। इसके अलावा, आप वेबसाइट पर अनुभाग एप्लीकेशन स्टेटस ’सेक्शन के तहत आपके द्वारा लागू की गई सभी नौकरियों को देख सकते हैं। यह अनुभाग नौकरी के आवेदन की स्थिति दिखाता है। आप अपने आवेदन के खिलाफ                                                 भेज दिया एप्लिकेशन सेंटेड ’, ईडी एप्लीकेशन व्यूड’, स्थिति सीवी डाउनलोडेड ’,, शॉर्टलिस्टेड’, ऍक्स्प जॉब एक्सपायर्ड ’जैसे स्टेटस देख सकते हैं।</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-settings2-c" role="tabpanel" aria-labelledby="v-pills-settings2-tab">
                                        <div class="frequently_mange">
                                            <h3>जब मुझे यह कहते हुए संदेश मिलता है कि "आपके आवेदन की स्थिति बदल गई है" तो इसका क्या मतलब है?</h3>
                                            <p>आपका आवेदन इन स्थितियों से गुजर सकता है:</p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> लागू: नौकरी के लिए आवेदन किया</li>
                                                <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> आवेदन भेजा गया: भर्ती के लिए भेजा गया आवेदन</li>
                                                <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> आवेदन देखा: भर्ती के द्वारा देखा गया आवेदन</li>
                                                <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> फिर से शुरू देखा: भर्ती द्वारा देखे गए आवेदन में संलग्न फिर से शुरू</li>
                                                <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> शॉर्टलिस्ट किया गया: रिक्रूटर ने आपके आवेदन को शॉर्टलिस्ट किया है</li>
                                                <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> शॉर्टलिस्ट नहीं किया गया: रिक्रूटर ने आपके एप्लिकेशन को शॉर्टलिस्ट नहीं किया है</li>
                                                <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> नौकरी बंद: नौकरी अब लागू नहीं होती है</li>
                                            </ul>
                                            <p>जब आपको यह कहते हुए एक संदेश मिलता है, "आपके आवेदन की स्थिति बदल गई है", तो इसका मतलब है कि स्थिति ऊपर की स्थिति में से एक में स्थानांतरित हो गई है।</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-settings3-c" role="tabpanel" aria-labelledby="v-pills-settings3-tab">
                                        <div class="frequently_mange">
                                            <h3>क्या मुझे नौकरी पर आवेदन करने या साक्षात्कार कॉल प्राप्त करने के लिए भुगतान करने की आवश्यकता है? / रिक्रूटर मुझे नौकरी के लिए साक्षात्कार का समय देने के लिए कह रहे हैं</h3>
                                            <p>नहीं, आप कैरियर मित्र पर मुफ़्त में नौकरियों के लिए आवेदन कर सकते हैं।</p>
                                            <p>ध्यान दें कि वास्तविक भर्तीकर्ता साक्षात्कार को शेड्यूल करने या नौकरी की पेशकश करने के लिए पैसे नहीं मांगते हैं। यदि आप ऐसे कॉल या ईमेल प्राप्त कर रहे हैं, तो सावधान रहें क्योंकि यह एक नौकरी घोटाला हो सकता है।</p>
                                            <p>हमें खेद है कि कभी-कभी, हमारे सर्वोत्तम प्रयासों के बावजूद, झूठी नौकरी पोस्टिंग को ऑनलाइन सूचीबद्ध किया जाता है, और गैर-मौजूदा नौकरी की पेशकश ईमेल के माध्यम से गैरकानूनी नौकरी चाहने वालों से अवैध रूप से व्यक्तिगत जानकारी और / या धन एकत्र करने के लिए भेजी जाती है। कृपया ध्यान दें कि कैरियर मित्रा किसी भी नियोक्ता या भर्तीकर्ता का प्रतिनिधित्व नहीं करता है या ऐसे धोखाधड़ी संचार को भेजने का प्रतिनिधित्व नहीं करता है, जो वास्तव में नियम और शर्तों का उल्लंघन है। ऐसे मामलों में, हम हर दिन सतर्क रहते हैं - जब हमें नौकरीपेशा लोगों से धोखाधड़ी या संदिग्ध ईमेल के बारे में शिकायत मिलती है, तो हम संबंधित नियोक्ता ग्राहक को तुरंत सूचित करते हैं और यदि आवश्यक हो, तो उन्हें हमारी सेवाओं का उपयोग करने से रोकते हैं। कैरियर मित्रा को ऐसे मामलों की रिपोर्ट करें</p>
                                            <p>नौकरीपेशा लोगों की पिछली शिकायतों के आधार पर, हम आपको निम्नलिखित से सावधान रहने के लिए प्रोत्साहित करते हैं:</p>
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> अपनी व्यक्तिगत, गैर-कार्य संबंधित जानकारी जैसे क्रेडिट कार्ड नंबर या बैंक की जानकारी फोन या ईमेल पर साझा न करें</li>
                                                <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> कॉल बैक फोन नंबर प्रदान न करें या देश के बाहर संपर्क जानकारी प्रदान करें</li>
                                                <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> जॉब एप्लिकेशन के लिए किसी भी तरह के भुगतान के लिए किसी से भी पूछना न करें, साक्षात्कार आयोजित करें, या किसी अन्य रोजगार / भर्ती से संबंधित उद्देश्य</li>
                                                <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> गारंटीकृत नौकरी / साक्षात्कार कॉल का वादा करने वाले किसी से भी सावधान रहें</li>
                                                <li><i class="fa fa-hand-o-right" aria-hidden="true"></i> कैरियर मित्र कर्मचारी होने का दावा करने वाले लोगों के कॉल / ईमेल से सावधान रहें। से केवल ईमेल https://careermitra.moradabadsmartcity.org/ डोमेन कैरियर मित्र कर्मचारियों का है</li>
                                            </ul>
                                            <p>इस तरह के संचार का जवाब देने से पहले, हम आपको एक विवेकपूर्ण जांच करने का सुझाव देते हैं और उस नियोक्ता की वैधता को सत्यापित करना सुनिश्चित करते हैं जिसके साथ आप बातचीत कर रहे हैं।</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="landing_footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="copy_footer text-center text-white">
                        <p>© दो हज़ार बीस- दो हज़ार इक्कीस मुरादाबाद स्मार्ट सिटी. सभी अधिकार सुरक्षित.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#div").addClass("ft-active");
            $("#diva").show();
            $("#div").click(function () {
                $("#div").addClass("ft-active");
                $("#div2").removeClass("ft-active");
                $("#div3").removeClass("ft-active");
                $("#diva").show();
                $("#divb").hide();
                $("#divc").hide();
            })
            $("#div2").click(function () {
                $("#div2").addClass("ft-active");
                $("#div3").removeClass("ft-active");
                $("#div").removeClass("ft-active");
                $("#divb").show();
                $("#diva").hide();
                $("#divc").hide();
            })
            $("#div3").click(function () {
                $("#div").removeClass("ft-active");
                $("#div2").removeClass("ft-active");
                $("#div3").addClass("ft-active");
                $("#divc").show();
                $("#diva").hide();
                $("#divb").hide();
            })

        })

    </script>
</body>
</html>