@{
    Layout = "~/Views/Shared/_WebsiteLayoutHI.cshtml";
}

<section class="breadcrumb_section bg-img-c" style="background-image: url('../images/term-nd-condition.jpg');">
    <div class="container">
        <div class="breadcrumb-text">
            <h1 class="page-title">उपयोग की शर्तें</h1>
            <ul class="pull-right">
                <li><a href="#">होम</a></li>
                <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                <li>उपयोग की शर्तें</li>
            </ul>
        </div>
    </div>
</section>

@Html.Raw(Model.HDescription)


