@{
    Layout = "~/Views/Shared/_WebsiteLayout.cshtml";
}
<div class="loader"></div>
<section class="breadcrumb_section bg-img-c" style="background-image: url('../images/term-nd-condition.jpg');">
    <div class="container">
        <div class="breadcrumb-text">
            <h1 class="page-title">Coming Soon</h1>
            <ul class="pull-right">
                <li><a href="#">Home</a></li>
                <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                <li>Coming Soon</li>
            </ul>
        </div>
    </div>
</section>

<div class="termnd_condition_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="about_details mt-4 text-center">
                    <h1 class="comins">Coming Soon!</h1>
                </div>
            </div>
        </div>
    </div>
</div>


