@{
    Layout = "~/Views/Shared/_WebsiteLayout.cshtml";
}

<div class="main_five_error">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="four_error_inner text-center text-black">
                    <h1>Oops!</h1>
                    <h3>404 - Page not found </h3>
                    <h5>The page you are looking for might have been removed </h5>
                    <h5>had its name changed or is temporarily unavailable.</h5>
                    <br>
                    <a href="/en/Index" class="btn btn-outline-danger btn-lg">Go To Homepage</a>

                </div>

            </div>
        </div>
    </div>
</div>

