:root { 
  --scrollbar:#ab183d;
  --white: #ffffff;  
  --topheader:#000;
  --customorange: #ab183d;
  --customgrey:#f2f2f2;
  --customwhite:#f4e7e7;
  --title:#efce48;
   
}





/*first theme*/
/*:root {
  --scrollbar:#3b2e26;
  --topheader: #3b2e26; 
  --white: #ffffff;  
  --customorange: #f17117;
  --customgrey:#f2f2f2;
  --customwhite:#f4e7e7;
  --title:#efce48; 
}*/
